@font-face {
    font-family: 'underwood_championregular';
    src: url('../fonts/underwood_champion-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* @font-face {
    font-family: 'elegant typewriter';
    src: url('../fonts/ELEGANT_TYPEWRITER.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

html {
    font-family: 'underwood_championregular';
    font-size: 20px;
}

#syllabary-container {
    overflow: hidden;
}

#syllabary-container,
.syllabary-display,
.grid-display,
.fade-layer,
.layer-display,
.layer,
.center-fade
{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}

.fade-layer {
    opacity: 0.5;
}

.poem-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    z-index: 500;
}

.poem-display {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    padding: 2em;
}

.poem-title {
    font-size: 1.7em;
}


/* Control */

.control-container {
    position: absolute;
    z-index: 1000;
    width: 100%;
}
.control-display {
    position: relative;
    width: 20vmax;
    height: 20vmax;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
    .control-container {
        bottom: -20vmax;
        text-align: center;
    }

    .control-display {
        margin: 0 auto;
        width: 40vmax;
        height: 40vmax;
    }
}